$transparent-white-text-color: rgba(255, 255, 255, 0.5);
$transparent-white-text-size: 0.8rem;

$black-content-title-text-size: 1.3rem;

$main-image-border-radius: 12px;

$custom-area-gradient: linear-gradient(117.07deg, #384fbf, 58%, #8C9CF7 98%);

$author-info-size: 1rem;

.ArticleTemplate {
    cursor: pointer;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    border-radius: $main-image-border-radius;
    margin-bottom: 30px;
}

.Template1Main {
    width: 100%;
    display: inline-block;
    
}

.TemplateHeader {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.TemplateMediaOverlay {
    background-color: transparent;
    border-top-left-radius: $main-image-border-radius;
    border-top-right-radius: $main-image-border-radius;
    //border-radius: $main-image-border-radius;
    &.hover {
        background-color: #384fbf;
    }
}

    .templateMedia {
        width: 100%;
        display: block; 
    object-fit: cover;
    opacity: 1;
    border-top-left-radius: $main-image-border-radius;
    border-top-right-radius: $main-image-border-radius;
    //border-radius: $main-image-border-radius;
    &.hover {
        opacity: 0.1;
    }
    
    }

.templateCommonArea {
    padding: 10px;
    width: calc(100% - 20px);
    text-align: center;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &.hover {
        display: block;
    }

    .templateType {
        color: $transparent-white-text-color;
        font-size: $transparent-white-text-size;
    }

    .templateTitle {
        font-size: $black-content-title-text-size;
        font-weight: bold;
        color: white;
    }

    .templateDescription {
        color: $transparent-white-text-color;
        font-size: $transparent-white-text-size;
        max-height: calc($transparent-white-text-size * 4);
        overflow: hidden;
    }

    display: none;
}

.templateCustomArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F6FA;
    border-bottom-left-radius: $main-image-border-radius;
    border-bottom-right-radius: $main-image-border-radius;
    //border-radius: $main-image-border-radius;
    padding: 10px;
    margin: 0 0 0 0;
}

.author {
    display: flex;

    .authorImage {
        width: calc($author-info-size + 6px);
        height: calc($author-info-size + 6px);
        border-radius: 50%;
    }

    .authorName {
        font-size: $author-info-size;
        margin: 0 0 0 10px;
        font-weight: 1000;
        color: #384fbf;   
    }
}

.siteName {
    background-color: #384fbf;
    color: white;
    padding: 2px 10px;
    border-radius: $main-image-border-radius;
    font-size: $transparent-white-text-size;
}

hr {
    border: 0;
    height: 0.01rem;
    background-color: #384fbf;
    margin: 15px 0;
}
